extends ../layouts/layout.pug
block main-content
    //- Hieu
    block top-content   
        include ../patials/top-content.pug
    //- Dong
    block animation-hover-block
        include ../patials/animate.pug
    //- Hieu
    block our-features
        include ../patials/our-features.pug
    //- Dong
    block our-awesome-team
        include ../patials/our-awesome.pug
    //- Diep
    block expectation
        include ../patials/expectation.pug
    block our-recent-works
        include ../patials/our-recent-works.pug
    block pricing-plans
        include ../patials/pricing-plans.pug
    //- Vy
    block what-users-saying
        include ../patials/user-saying.pug
    block readytalk
        include ../patials/readytalk.pug
    block our-blog 
        include ../patials/our-blog.pug
