.footer{
    position: relative;
    .footer__content{
        z-index: 2;
        display: flex;
        color: #666666;
        background-color: #f7fafd;
        justify-content: center;
        // padding: 3rem;
        .logan{
            width: 22%;
            padding: 3rem;
            // margin: 0 1.5rem;
            a{  
                display: block;
                padding: 0.5rem 0;
                img{
                width: 50%;
                height: auto; 
                }
            }
        }
        div{
            padding: 3rem;
            // margin: 0 3rem;
            font-size: 1.8rem;
            h2{
                margin-bottom: 2rem;
                // padding: 0 0 1rem;
                font-size: 2.5rem;
                color: #343a40;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);

            }
            ul{
                li{
                    list-style: none;
                    padding-left:2rem;
                    position: relative;
                    margin: 0 0 0.8rem 1.7rem;
                    line-height: 2rem;
                    a{
                        text-decoration: none;
                        color: #484848;
                    } 
                    &::before{
                        
                        background-color: #44ce6f;
                        height: 7px;
                        width: 7px;
                        content: '';
                        left: -17px;
                        top: 8px;
                        position: absolute;
                    }
                }
            }
            
        }
        .address{
            li{
                margin: 0 0 0.8rem -2.3rem;
                i{
                    color: #44ce6f;
                }
                &::before{
                    height: 0;
                    width: 0;
                }
                a{
                    text-decoration: none;
                    color: #484848;
                    &:hover{
                        color: #44ce6f;
                    }
                }
            }
            .social-network{
                .facebook{
                    display: inline-block;
                    padding: 0.7rem 1rem;
                    border: 1px solid #4267b2;
                    border-radius: 50%;
                    margin-right: 1rem;
                    i{
                        color: #4267b2;
                    }
                    &:hover{
                        background: #4267b2;
                        i{
                            color:white;
                        }
                    }
                }
                .instagram{
                    display: inline-block;
                    padding: 0.7rem 1rem;
                    border: 1px solid black;
                    border-radius: 50%;
                    margin-right: 1rem;
                    i{
                        color: black;
                    }
                    &:hover{
                        background: black;
                        i{
                            color:white;
                        }
                    }
                }
                .linkedin{
                    display: inline-block;
                    padding:0.7rem 1rem;
                    border: 1px solid #0077B5;
                    border-radius: 50%;
                    margin-right: 1rem;
                    i{
                        color: #0077B5;
                    }
                    &:hover{
                        background: #0077B5;
                        i{
                            color: white;
                        }
                    }
                }
                .twitter{
                    display: inline-block;
                    padding:0.7rem 1rem;
                    border: 1px solid #38A1F3;
                    border-radius: 50%;
                    margin-right: 1rem;
                    i{  
                        font-size: 15.67px;
                        color: #38A1F3;
                    }
                    &:hover{
                        background:#38A1F3;
                        i{
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .footer__footer{
        display: flex;
        color: #666666;
        background-color: #f7fafd;
        justify-content: center;
        padding: 2rem 0;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
}
@media only screen and (max-width: 991px){
    .footer{
        .footer__content{
            display: flex;
            justify-content: center;
            color: #666666;
            background-color: #f7fafd;
            padding: 3rem;
            flex-wrap: wrap;
            .logan, .address, .support, .company{
                width: 44%;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .footer{
        .footer__content{
            display: flex;
            justify-content: center;
            color: #666666;
            background-color: #f7fafd;
            padding: 3rem;
            flex-wrap: wrap;
            .logan, .address, .support, .company{
                width: 100%;
            }
        }
    }
}