*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.menu-nav{
    position: absolute;
    width: 100%;
    padding: 1.5rem 0;
}
.ps-fix{
    position: fixed !important;
    background: #ffffff;
    width: 100%;
    transition: all .5s ease;
    padding: .5rem 0 !important;
}
.navsticky{
    transition: all .5s ease;
    .container{
        overflow: visible !important;
    }
    z-index: 1000;
    position: sticky;
    top: 0;
    .container{
        z-index: 1000;
        // margin: 0 6rem;
        padding: 0 1.5rem;
        // margin: 0 7%;
        // max-width: 960px;
        // width: 100%;
        // padding-right: 15px;
        // padding-left: 15px;
        // margin-right: auto;
        // margin-left: auto;
        .navbar{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: .5rem 0rem;
            // .nav__logo{
                // width: 20%;
            .nav-brand{
                display: inline-block;
                padding: 0.5rem 0;
                margin-right: 1rem;
                font-size: 1.25rem;
                line-height: inherit;
                white-space: nowrap;
                img{
                    vertical-align: middle;
                    max-width: 150px;
                    height: auto;
                }
            }
            // }
            .nav-menu{
                z-index: 1000;
                font-size: 1.4rem;
                color: #666666;
                display: flex;
                flex-basis: auto;
                justify-content: flex-end;
                align-items: center;
                flex-grow: 1;
                // transition: 0.5s all;
                ul{                                     //ul of nav-menu
                    list-style-type: none;
                    transition: 0.5s all;
                    li{                                 //li of nav-menu
                        display: inline-block;
                        // border: 1px solid black;
                        margin: 0;
                        padding: 0;
                        position: relative;
                        // transition: 0.5s all;            
                        .nav-sub{                               //this is nav-sub (ul)
                            z-index: 1000;
                            padding: 1rem 0;
                            // display: none;
                            pointer-events: none;
                            position: absolute;
                            top:100%;
                            left: 0;
                            opacity: 0;
                            background-color: #222;             //tại sao k ăn transition
                            -webkit-transition: 0.9s;
                            transition: 0.9s;
                            transition: 0.5s all;
                            li{                                 //li of nav-sub
                                display: block;
                                width: 22rem;
                                position: relative;
                                // transition: 0.5s all;
                                .nav-sub-left{
                                    z-index: 1000;               
                                    padding: 1rem 0;
                                    display: block;
                                    position: absolute;
                                    top:0%;
                                    right: 100%;
                                    opacity: 0;
                                    transition: 0.5s all;
                                    background-color: #222;
                                }                    
                                .nav-sub-right{
                                    z-index: 1000;               
                                    padding: 1rem 0;
                                    display: block;
                                    position: absolute;
                                    top:0%;
                                    left: 100%;
                                    opacity: 0;
                                    transition: 0.5s all;
                                    background-color: #222;
                                }
                                &:hover {
                                    .nav-sub-left{
                                        // transition: 0.5s all;
                                        display: block;
                                        opacity: 1;
                                    }
                                    .nav-sub-right{
                                        // transition: 0.5s all;                            
                                        display: block;
                                        opacity: 1;
                                    }
                                }
                                a{
                                    text-align: left;
                                    margin: 0 !important;
                                    padding: 5px 15px !important;
                                    color: #eae7e7;
                                    font-size: 13px;
                                    white-space: nowrap;
                                    // transition: 0.5s all;
                                    &:hover{
                                        // transition: 0.5s all;
                                        color: #44ce6f;
                                    }
                                }
                            }
                        }
                        &:hover{
                            .nav-sub{
                                transition: 0.5s all;
                                // display: block;
                                opacity: 1;
                                pointer-events: auto;
                            }
                        }
                        a {
                            display: block;
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 1.4rem;
                            color: #4a6f8a;
                            margin: 0 1rem;
                            padding: 1rem 0;
                            transition: 0.5s color;
                            &:hover{
                                transition: 0.5s all;
                                color: #44ce6f;
                            }
                        }
                    }
                }
            }
        }
        .other{
            margin-left: 30px;
        }
    }
}
.navmobile{
    display: none;
    z-index: 1000;
    position: relative;
    top: 0;
    color: #666666;
    .container{
        z-index: 1000;
        // padding: 0 1.5rem;
        // margin: 0 7%;
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 0rem;
            padding: 0.5rem 1.5rem;
            .nav-brand{
                display: inline-block;
                padding: 0.5rem 0;
                margin-right: 1rem;
                font-size: 1.25rem;
                line-height: inherit;
                white-space: nowrap;
                img{
                    vertical-align: middle;
                    max-width: 150px;
                    height: auto;
                }
            }
            .nav-btn{
                position: relative;
                    .btn-toggle{
                        padding: 0;
                        display: flex;
                        font: inherit;
                        color: inherit;
                        text-transform: none;
                        margin: 0;
                        border:none;
                        cursor: pointer;
                        outline: none;
                        background-color:transparent;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        .wrapper-op-menu{
                            width: 30px;
                            height: 24px;
                            position: relative;
                            display: inline-block;
                            .icon-op-menu{
                                width: 30px;
                                height: 4px;
                                position: absolute;
                                border-radius: 3px;
                                display: block;
                                top: 50%;
                                margin-top: -2px;
                                background-color: #0e314c;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                &:before{
                                    content: "";
                                    width: 30px;
                                    height: 4px;
                                    position: absolute;
                                    border-radius: 3px;
                                    display: block;
                                    top: -7px;
                                    background-color: #0e314c;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                }
                                &:after{
                                    content: "";
                                    width: 30px;
                                    height: 4px;
                                    position: absolute;
                                    border-radius: 3px;
                                    display: block;
                                    bottom: -7px;
                                    background-color: #0e314c;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                }
                            }
                        }
                        &:focus{
                            outline: none;
                            border:none;
                        }
                    }
                    .clo-menu{
                        .wrapper-op-menu{
                            .icon-op-menu{
                                transform: rotate(225deg);
                                background-color: #0e314c;
                                -webkit-transition: all .3s ease;
                                -moz-transition: all .3s ease;
                                &:before{
                                    top: 0;
                                    opacity: 0;
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    background-color: #0e314c;
                                }
                                &:after{
                                    bottom: 0;
                                    transform: rotate(-90deg);
                                    -webkit-transition: all .3s ease;
                                    -moz-transition: all .3s ease;
                                    background-color: #0e314c;
                                }
                            }
                        }
                    }
            }
        }
        .nav-menu{
            z-index: 1000;
            font-size: 1.4rem;
            color: #0e314c;
            flex-basis: auto;
            justify-content: flex-end;
            align-items: left;
            flex-grow: 1;
            background: white;
            ul{                                     //ul of nav-menu
                list-style-type: none;
                transition: 0.5s all;
                li{        
                    border-top: rgb(219,238,253) solid 0.3px;                         //li of nav-menu
                    display:block;
                    // border: 1px solid black;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    // transition: 0.5s all;            

                    a {
                        display: block;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 1.4rem;
                        color: #0e314c;
                        // padding: 0 4rem;
                        margin: 0 4rem;
                        padding: 1rem 0;
                        transition: 0.5s color;
                        text-align: left;
                        // width: 100%;
                    }
                }
            }
            .nav-sub{
                // transition: all 1s ease ;
                li{
                    padding-left: 4rem; 
                }
                .nav-sub-left{
                    transition: 0.5s ;
                    padding-left: 6rem;
                }
                .nav-sub-right{
                    // transition: 0.5s ;
                    padding-left: 6rem;
                }
            }
        }
        }   
}
@media only screen and (max-width: 990px){
    .navsticky{
        display: none;
    }
    .navmobile{
        display: block;
        .nav-menu{
            display: none;
            .nav-sub{
                display: none;
                .nav-sub-left{
                    display: none;
                }
                .nav-sub-right{
                    display: none;
                }
            }    
        }
    }
}
.nav-box{
    transition: all 1s ease;
}