//- animation-3
section.bg-f7fafd
    .container.row.animate-cloud
        .col-lg-6.col-md-12.col-sm-12
            .title-hover
                section.section-title
                    h2 Cloud Hosting Services
                    .processing-bar
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .hd-hover-content.row
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-database 
                                span Cloud databases
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.far.fa-hdd 
                                span File storage
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-globe-asia 
                                span Website hosting
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-chart-line 
                                span Forex trading
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.far.fa-folder-open 
                                span File backups
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-desktop 
                                span Remote desktop
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.far.fa-envelope 
                                span Email servers
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fab.fa-soundcloud 
                                span Hybrid clouds

        .col-lg-6.col-md-12.col-sm-12
            .img-cloud-animate
                img.fadeInDown(src="../../../dist/assets/images/cloud-hosting-service/book-self.png", alt="book-self")
                img.fadeInUp(src="../../../dist/assets/images/cloud-hosting-service/box.png", alt="box")
                img.fadeInLeft(src="../../../dist/assets/images/cloud-hosting-service/chair.png", alt="chair")
                img.zoomIn(src="../../../dist/assets/images/cloud-hosting-service/cloud.png", alt="cloud")
                img.bounceIn(src="../../../dist/assets/images/cloud-hosting-service/cup.png", alt="cup")
                img.fadeInDown(src="../../../dist/assets/images/cloud-hosting-service/flower-top.png", alt="flower-top")
                img.zoomIn(src="../../../dist/assets/images/cloud-hosting-service/head-phone.png", alt="head-phone")
                img.fadeInUp(src="../../../dist/assets/images/cloud-hosting-service/monitor.png", alt="monitor")
                img.rotateIn(src="../../../dist/assets/images/cloud-hosting-service/mug.png", alt="mug")
                img.fadeInUp(src="../../../dist/assets/images/cloud-hosting-service/table.png", alt="table")
                img.zoomIn(src="../../../dist/assets/images/cloud-hosting-service/tissue.png", alt="tissue")
                img.zoomIn(src="../../../dist/assets/images/cloud-hosting-service/water-bottle.png", alt="water-bottle")
                img.fadeInLeft(src="../../../dist/assets/images/cloud-hosting-service/wifi.png", alt="wifi")
                img.rotate(src="../../../dist/assets/images/cloud-hosting-service/cercle-shape.png", alt="cercle-shape")
                img.fadeInUp(src="../../../dist/assets/images/cloud-hosting-service/main-pic.png", alt="main-pic")

//- animation-4

section
    .container.row
        .col-lg-6.col-md-12.col-sm-12
            .img-content
                img.fadeInDown(src="../../../dist/assets/images/man2/big-monitor.png", alt="big-monitor")
                img.fadeInUp(src="../../../dist/assets/images/man2/creative.png", alt="creative")
                img.fadeInLeft(src="../../../dist/assets/images/man2/developer.png", alt="developer")
                img.zoomIn(src="../../../dist/assets/images/man2/flower-top.png", alt="flower-top")
                img.bounceIn(src="../../../dist/assets/images/man2/small-monitor.png", alt="small-monitor")
                img.fadeInDown(src="../../../dist/assets/images/man2/small-top.png", alt="small-top")
                img.zoomIn(src="../../../dist/assets/images/man2/table.png", alt="table")
                img.fadeInUp(src="../../../dist/assets/images/man2/target.png", alt="target")
                img.rotate(src="../../../dist/assets/images/man2/cercle-shape.png", alt="cercle-shape")
                img.fadeInUp(src="../../../dist/assets/images/man2/main-pic.png", alt="main-pic")
        .col-lg-6.col-md-12.col-sm-12
            .title-hover
                section.section-title
                    h2 Design & Development
                    .processing-bar
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.--
                .hd-hover-content.row
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-database 
                                span Cloud databases
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.far.fa-hdd 
                                span File storage
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-globe-asia 
                                span Website hosting
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-chart-line 
                                span Forex trading
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.far.fa-folder-open 
                                span File backups
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fas.fa-desktop 
                                span Remote desktop
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.far.fa-envelope 
                                span Email servers
                    .col-md-6.col-sm-12
                        .box-content.box-bg-df.box-bg-green
                            i.fab.fa-soundcloud 
                                span Hybrid clouds

//- scroll-top


.scroll-top
    i.fas.fa-arrow-up

                    

