section.expectation
    div.section-title
        h2 We Always Try To Understand Users 
        h2 Expectation
        div.processing-bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    //- content section
    div.info-page
        div.info-page__block
            h3 180k
            p Downloaded
        div.info-page__block
            h3 30k
            p Feedback
        div.info-page__block
            h3 500+
            p Workers
        div.info-page__block
            h3 70+
            p Contrubutors
    div.inner
        div.wrapper
            div.inner__block
                div.inner__content
                    h3 Have any question about us?
                    p Don't hesitate to contact us
                div.inner__btn
                    <button class="btn-df btn-hv-up btn-hv-bs btn-hv-green">CONTACT US</button>
