section.footer
    div.footer__content
        div.logan
            a(href="#")
                img(src="../../../dist/assets/images/logo-2.png", alt="logo")
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer
        div.company
            h2 Company
            ul
                li
                    a(href="#") About Us
                li
                    a(href="#") Services
                li
                    a(href="#") Features   
                li
                    a(href="#") Our Pricing 
                li
                    a(href="#") Latest News
        div.support
            h2 Support
            ul
                li
                    a(href="#") FAQ’s
                li
                    a(href="#") Privacy Policy
                li  
                    a(href="#") Terms & Condition
                li
                    a(href="#") Community
                li
                    a(href="#") Contact
        div.address
            h2 Address
            ul
                li
                    <i class="fas fa-map-marker-alt"></i> 28 Division St, New York, NY 10002, USA
                li
                    <i class="far fa-envelope"></i>  Email: 
                            a(href="#") Startnext@Gmail.Com
                li 
                    <i class="fas fa-phone-volume"></i> Phone: 
                            a(href="#") + (321) 984 754
                li.social-network
                    a.facebook(href="#")
                        <i class="fab fa-facebook"></i>
                    a.twitter(href="#")
                        i.fab.fa-twitter
                    a.instagram(href="#")
                        i.fab.fa-instagram
                    a.linkedin(href="#")
                        i.fab.fa-linkedin-in
    div.footer__footer 
        p Copyright @2019. All rights reserved            
    .shape1
        img(src="../../../dist/assets/images/shape/shape1.png", alt="shape1")
    .shape8.rotate
        img(src="../../../dist/assets/images/shape/shape2.svg", alt="shape2")