section.menu-nav
    .navmobile
        .container
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../assets/images/logo-2.png", alt="logo")
                .nav-btn
                    button.btn-toggle
                        span.wrapper-op-menu
                            span.icon-op-menu
            .nav-menu
                ul
                    .nav-box
                        li.nav-dropdown
                            a(href="#") Home ▼
                        ul.nav-sub
                            li
                                a(href="#") Home One(Light Green Color)
                            li    
                                a(href="#") Home Two(Light Green Color)
                            li    
                                a(href="#") Home One(Purple Color)
                            li    
                                a(href="#") Home Two(Purple Color)
                            li    
                                a(href="#") Home One(Pink Color)
                            li    
                                a(href="#") Home Two(Pink Color)
                            li    
                                a(href="#") Home One(Brink Pink Color)
                            li    
                                a(href="#") Home Two(Brink Pink Color)
                            li    
                                a(href="#") Home One(Static Images)
                            li    
                                a(href="#") Home Two(Static Images)
                    li
                        a(href="#") About
                    li
                        a(href="#") Features
                    .nav-box
                        li.nav-dropdown
                            a(href="#") Pages ▼
                        ul.nav-sub
                            li    
                                a(href="#") About
                            li    
                                a(href="#") Features
                            li    
                                a(href="#") Services
                            li    
                                a(href="#") Team
                            li    
                                a(href="#") Pricing
                            li    
                                a(href="#") FAQ
                            .nav-box01
                                li.nav-dropdown01
                                    a(href="#") Projects
                                ul.nav-sub-left
                                    li    
                                        a(href="#") FAQ
                                    li    
                                        a(href="#") Projects    
                    .nav-box
                        li.nav-dropdown
                            a(href="#") Blog ▼
                            ul.nav-sub
                                li
                                    a(href="#") Blog
                                li
                                    a(href="#") Blog Details
                    li
                        a(href="#") Contact 
    .navsticky
        .container
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../assets/images/logo-2.png", alt="logo")
                .nav-menu
                    ul
                        li.nav-dropdown
                            a(href="#") Home ▼
                            ul.nav-sub
                                li
                                    a(href="#") Home One(Light Green Color)
                                li    
                                    a(href="#") Home Two(Light Green Color)
                                li    
                                    a(href="#") Home One(Purple Color)
                                li    
                                    a(href="#") Home Two(Purple Color)
                                li    
                                    a(href="#") Home One(Pink Color)
                                li    
                                    a(href="#") Home Two(Pink Color)
                                li    
                                    a(href="#") Home One(Brink Pink Color)
                                li    
                                    a(href="#") Home Two(Brink Pink Color)
                                li    
                                    a(href="#") Home One(Static Images)
                                li    
                                    a(href="#") Home Two(Static Images)
                        li
                            a(href="#") About
                        li
                            a(href="#") Features
                        li.nav-dropdown
                            a(href="#") Pages ▼
                            ul.nav-sub
                                li    
                                    a(href="#") About
                                li    
                                    a(href="#") Features
                                li    
                                    a(href="#") Services
                                li    
                                    a(href="#") Team
                                li    
                                    a(href="#") Pricing
                                li    
                                    a(href="#") FAQ
                                li  
                                    a.project(href="#") Project
                                    ul.nav-sub-left
                                        li
                                            a(href="#") FAQ
                                        li
                                            a(href="#") Project    
                        li.nav-dropdown
                            a(href="#") Blog ▼
                            ul.nav-sub
                                li
                                    a(href="#") Blog
                                li
                                    a(href="#") Blog Details
                        li
                            a(href="#") Contact
                .other
                    button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet.bg-green SUPPORT                             