section.our-features
    .container
        .section-title
            h2 Our Features
            .processing-bar
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .wrapper-our-features.row
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon
                                i.fas.fa-cog
                            h3 Incredible Infrastructure
                            p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-edc3fc
                                i.fas.fa-th-large
                            h3 Simple Dashboard
                            p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-f9d2c4
                                i.fas.fa-mouse-pointer
                            h3 Drag and Drop Functionality
                            p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.                
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon
                                i.far.fa-envelope
                            h3 Email Notifications
                            p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-edc3fc
                                i.far.fa-question-circle
                            h3 Information Retrieval
                            p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-f9d2c4
                                i.far.fa-bell
                            h3 Deadline Reminders
                            p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.

