.bg-light
    section.section-title
        h2 Our Awesome Team
        .processing-bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row.slide-slick
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/1-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/2-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/3-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/4-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/1-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/2-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/4-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/2-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/4-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 Josh Buttler
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Risus commodo viverra maecenas accumsan lacus vel facilisis quis ipsum.