section.our-recent-works
    div.section-title
        h2 Our Recent Works
        div.processing-bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div.carousel
        div.carousel__block 
            img(src="../../../dist/assets/images/ourRecentWorks/1-1-1-1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Incredible infrastructure
                    p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        div.carousel__block 
            img(src="../../../dist/assets/images/ourRecentWorks/2-1-1-1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Incredible infrastructure
                    p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        div.carousel__block 
            img(src="../../../dist/assets/images/ourRecentWorks/3-1-1-1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Incredible infrastructure
                    p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
        div.carousel__block 
            img(src="../../../dist/assets/images/ourRecentWorks/4-1-1-1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Incredible infrastructure
                    p Lorem ipsum dolor amet, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.

