section.our-blog   
    div.section-title
        h2 The News From Our Blog
        div.processing-bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    div.our-blog__main
        div.our-blog__block 
            div.our-blog__img 
                img(src="../../../dist/assets/images/blog-single-img/post-image-one-1-1.jpg", alt="")
                div.date
                    p <i class="far fa-calendar"></i> April 24, 2019
            div.our-blog__content
                a(href="#") How to start your business as an entrepreneur
                p by 
                    a(href="") startp
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                a.readmore(href='#') Read More <i class="fas fa-arrow-right"></i>
        div.our-blog__block 
            div.our-blog__img 
                img(src="../../../dist/assets/images/blog-single-img/post-image-five-1-1.jpg", alt="")
                div.date
                    p <i class="far fa-calendar"></i> April 24, 2019
            div.our-blog__content
                a(href="#") How to start your business as an entrepreneur
                p by 
                    a(href="") startp
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                a.readmore(href='#') Read More <i class="fas fa-arrow-right"></i>

        div.our-blog__block 
            div.our-blog__img 
                img(src="../../../dist/assets/images/blog-single-img/post-image-two-1-1.jpg", alt="")
                div.date
                    p <i class="far fa-calendar"></i> April 24, 2019
            div.our-blog__content
                a(href="#") How to start your business as an entrepreneur
                p by 
                    a(href="") startp
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                a.readmore(href='#') Read More <i class="fas fa-arrow-right"></i>