.bg-light
        section.section-title
            h2 Pricing Plans
            .processing-bar
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .container
            .row.bg-pricing
                .col-lg-4.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title
                            h3 BASIC PLAN
                        .pricing-price
                            span #[sup $] 15.00 #[span /Mon]
                        .pricing-main
                            ul
                                li 5 GB Bandwidth
                                li Highest Speed
                                li 1 GB Storage
                                li Unlimited Website
                                li Unlimited Users
                                li 24x7 Great Support
                                li Data Security and Backups
                                li Monthly Reports and Analytics
                        .pricing-footer
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet SELECT PLAN
                .col-lg-4.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title.bg-active
                            h3 BASIC PLAN
                        .pricing-price
                            span #[sup $] 15.00 #[span /Mon]
                        .pricing-main
                            ul
                                li 5 GB Bandwidth
                                li Highest Speed
                                li 1 GB Storage
                                li Unlimited Website
                                li Unlimited Users
                                li 24x7 Great Support
                                li Data Security and Backups
                                li Monthly Reports and Analytics
                        .pricing-footer.btn-active
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-green.btn-active SELECT PLAN
                .col-lg-4.col-md-6.col-sm-12
                    .box-pricing.box-bg-df
                        .pricing-title
                            h3 BASIC PLAN
                        .pricing-price
                            span #[sup $] 15.00 #[span /Mon]
                        .pricing-main
                            ul
                                li 5 GB Bandwidth
                                li Highest Speed
                                li 1 GB Storage
                                li Unlimited Website
                                li Unlimited Users
                                li 24x7 Great Support
                                li Data Security and Backups
                                li Monthly Reports and Analytics
                        .pricing-footer
                            button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet SELECT PLAN