section.readytalk
    div.readytalk__main
        div.readytalk__header
            h2 Ready To Talk?
            p Our team is here to answer your question about StartNext
            div.container
                button(style="margin: 3rem 3rem" class="btn-df btn-hv-up btn-hv-bs btn-hv-green") Contact us
                a(href="#") Or, get started now with a free trial
            p.child More that 1.5 million businesses and organizations use StartNext
        div.partner-inner
                    div.partner__block
                        div.container
                            div.partner__img 
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-1-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover1-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img 
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-6-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover6-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img 
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-5-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover5-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-4-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover4-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-3-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover3-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-2-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover2-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-1-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover1-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-3-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover3-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-1-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover1-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-4-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover4-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-5-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover5-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-6-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover6-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-2-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover2-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-3-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover3-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-1-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover1-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-3-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover3-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-4-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover4-1-1.png", alt="wp-content")
                    div.partner__block
                        div.container
                            div.partner__img
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-4-1-1.png", alt="wp-content")
                            div.partner__shadow
                                a(href="#")
                                    img(src="../../../dist/assets/images/wp-content/partner-hover4-1-1.png", alt="wp-content")

