section.top-content(style="background-image: url(../../../dist/assets/images/banner-bg1.jpg)")
    .wrapper-topcontent
        .container.row.ai-center
            .col-md-12.col-sm-12.col-lg-6.mg-tb-5r
                .hd-text
                    h1.cs-h1-top-content  Secure IT Solutions for a more secure environment
                    p.fz16-mg Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet.bg-green SUPPORT
            .col-md-12.col-sm-12.col-lg-6
                .img-banner
                    img.fadeInDown(src="../../../dist/assets/images/man1/man.png", alt="man")
                    img.fadeInUp(src="../../../dist/assets/images/man1/code.png", alt="man")
                    img.fadeInLeft(src="../../../dist/assets/images/man1/carpet.png", alt="carpet")
                    img.zoomIn(src="../../../dist/assets/images/man1/bin.png", alt="bin")
                    img.bounceIn(src="../../../dist/assets/images/man1/book.png", alt="book")
                    img.fadeInDown(src="../../../dist/assets/images/man1/dekstop.png", alt="desktop")
                    img.zoomIn(src="../../../dist/assets/images/man1/dot.png", alt="dot")
                    img.fadeInUp(src="../../../dist/assets/images/man1/flower-top-big.png", alt="flower_top_big")
                    img.rotateIn(src="../../../dist/assets/images/man1/flower-top.png", alt="flower_top")
                    img.fadeInUp(src="../../../dist/assets/images/man1/keyboard.png", alt="keyboard")
                    img.zoomIn(src="../../../dist/assets/images/man1/pen.png", alt="pen")
                    img.zoomIn(src="../../../dist/assets/images/man1/table.png", alt="table")
                    img.fadeInLeft(src="../../../dist/assets/images/man1/tea-cup.png", alt="tea_cup")
                    img.rollIn(src="../../../dist/assets/images/man1/headphone.png", alt="headphone")
                    img.fadeInUp(src="../../../dist/assets/images/man1/main-pic.png", alt="main-pic")
        .container.row.of-visi
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-01
                        i.fas.fa-handshake
                    h3 Zero Configuration
                    p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-02
                        i.fas.fa-code
                    h3 Code Security
                    p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.            
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-03
                        i.fas.fa-users
                    h3 Team Management
                    p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.
            .col-lg-3.col-md-6.col-sm-6.col-12.pd-lr1-5
                .box-bg-df.box-bg-trans.box-bg-green.pd1-5.cs-box01
                    .icon.bg-icon-04
                        i.fab.fa-ravelry
                    h3 Access Controlled
                    p Lorem ipsum dolor sit amet elit, adipiscing, sed do eiusmod tempor incididunt ut labore dolore magna.
    .shape1
        img(src="../../../dist/assets/images/shape/shape1.png", alt="shape1")
    .shape2.rotate
        img(src="../../../dist/assets/images/shape/shape2.svg", alt="shape2")
    .shape3
        img(src="../../../dist/assets/images/shape/shape3.svg", alt="shape3")
    .shape4
        img(src="../../../dist/assets/images/shape/shape4.svg", alt="shape4")
    .shape6.rotate
        img(src="../../../dist/assets/images/shape/shape4.svg", alt="shape4")
    .shape7
        img(src="../../../dist/assets/images/shape/shape4.svg", alt="shape4")
    .shape8.rotate
        img(src="../../../dist/assets/images/shape/shape2.svg", alt="shape2")
    .shape5
        img(src="../../../dist/assets/images/shape/shape5.png", alt="shape5")
